/* General Styling Starts */
* {margin: 0;
    padding: 0;
    box-sizing:border-box;

}

/* Styling for the Main Body */
html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: blue;
    text-decoration: none;
}

/* Styling for the main body ends here */

/* Header/Nav Style Starts */
header {
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

header nav {
    vertical-align: middle;
    margin: 5px 0;
}

nav {
    display: flex;
    height: 35px;
    padding-top: 30px;
    padding-right: 50px;
    font-size: 25px;
    align-items: center;
}

.title h1 {
    background-color: #20b233;
    color: rgba(0, 68, 255, 0.295);
    font-size: 40px;
    padding: 10px 10px 10px 80px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: none;
    list-style-type: none;
    align-items: center;
    font-size: 20px;
}

nav ul li {
    display: flex;
    margin-left: 20px;
    border-bottom: 3px solid #a8cd92;
    padding: 0 10px;
    margin: 0px 5px;
}

nav ul li a{
    color: #a8cd92;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header/Nav Style Ends */

/* Hero Style Starts*/

.hero {
    position: relative;
    background-image: ;
    background-size: cover;
    background-position: center;
    background-attachment: static;
    background-position: 80%;
    background-color:lightslategray;
    display: flex;
    justify-content: flex-end;
}


.hero-subtitle { /* Styling to the subtitle the Hero container */
    padding-bottom: 15px;
    padding-right: 15px;
  }
/* Hero Style Ends */

/* Styling for Hero Section Starts */

.bio {
    width: 100%;
    margin: 0 auto;
}

.column-one {
    display: inline-flex;
    vertical-align: top;
    position: relative;
}

.aboutme {
    display: flex;
    position: relative;
    padding: 20px 60px 20px 60px;
}

.aboutme h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 0 15px 0 35px;
    border-right: 4px rgba(0, 68, 255, 0.295);
    text-align: right;
    display: flex;
}


/* Styling for Hero Section Starts */


/* Header Style Ends */

/* Footer Style Section Starts */

/* Footer Style Section Ends */

